.search_inner {
    padding: 15px 0px;
    width: 100%;
    min-height: 100px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

    .search_result_input {
        padding: 5px 15px 0px 15px;
        margin: 0px;
        font-weight: 600;
        font-size: 1rem;
    }
}