.wrapper {
    &.small {
        padding: 3px 10px;
        font-size: 1.2rem;
    }

    &.normal {
        padding: 6px 15px;
        font-size: 1.4rem;
    }

    &.large {
        padding: 8px 15px;
        font-size: 1.6rem;
    }

    padding: 6px 15px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    background: #f2f2f2;
    border: 2px solid var(--primary-color);

    &[href],
    & {
        color: var(--primary-color);
    }

    &:hover {
        color: #FFF;
        background-color: var(--primary-color);
    }
}

.text {
    background: #f2f2f2;
    border-color: #f2f2f2;

    &[href],
    & {
        color: #000;
    }

    &:hover {
        background: #e6e4e4;
        color: #444;
    }
}


.primary {
    background-color: var(--primary-color);

    &:hover {
        background-color: rgba(234, 40, 78, 1);
    }

    &[href],
    & {
        color: #FFF;
    }
}