@import url(normalize.css);
$fontsMontserrat: (
    (weight: 100, name: 'Thin', fontStyle: 'normal'),
    (weight: 100, name: 'ThinItalic', fontStyle: 'italic'),
    (weight: 200, name: 'ExtraLight', fontStyle: 'normal'),
    (weight: 200, name: 'ExtraLightItalic', fontStyle: 'italic'),
    (weight: 300, name: 'Light', fontStyle: 'normal'),
    (weight: 300, name: 'LightItalic', fontStyle: 'italic'),
    (weight: 400, name: 'Regular', fontStyle: 'normal'),
    (weight: 400, name: 'Regular', fontStyle: 'italic'),
    (weight: 500, name: 'Medium', fontStyle: 'normal'),
    (weight: 500, name: 'MediumItalic', fontStyle: 'italic'),
    (weight: 600, name: 'SemiBold', fontStyle: 'normal'),
    (weight: 600, name: 'SemiBold', fontStyle: 'italic'),
    (weight: 700, name: 'Bold', fontStyle: 'normal'),
    (weight: 700, name: 'BoldItalic', fontStyle: 'italic'),
    (weight: 800, name: 'ExtraBold', fontStyle: 'normal'),
    (weight: 800, name: 'ExtraBoldItalic', fontStyle: 'italic'),
    (weight: 900, name: 'Black', fontStyle: 'normal'),
    (weight: 900, name: 'BlackItalic', fontStyle: 'italic'),
);

@each $font in $fontsMontserrat {
    @font-face {
        font-family: Montserrat;
        src: url('@/assets/fonts/Montserrat/Montserrat-#{map-get($font, name)}.ttf');
        font-weight: #{map-get($font, weight)};
        font-style: #{map-get($font, fontStyle)};
    }
}

:root {
    --primary-color: #C8374F;
    --color-check: rgb(32, 213, 236);
    //default layout
    --min-height-header: 50px
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2em;
    text-rendering: optimizeSpeed;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}