@import url(normalize.css);

@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 500;
}

:root {
    --primary-color: #0077B5;
    //default layout
    --min-height-header: 50px
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2em;
    text-rendering: optimizeSpeed;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.sss {
    font-weight: 500;
}